@()

<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Container upload</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

            <form class="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="dlcInputFile">File input</label>
                        <input type="file" id="dlcInputFile">

                        <p class="help-block">Upload the dlc file here.</p>
                    </div>
                </div>
            </form>
    </div>
</div>