@import views.html.platform.includes.{ includeHead, includeFlashMessages }
@import _root_.platform.utils.FormUtils

@(userForm: Option[Form[UserForm]] = None)(implicit context: RequestContext[_])

<!DOCTYPE html>
<html>
    <head>
        @includeHead(Messages("login.title"))
    </head>
    <body class="hold-transition login-page">
        @includeFlashMessages()
        <div class="login-box">
            <div class="login-logo">@Html(Messages("application.title"))</div>
            <div class="login-box-body">
                <p class="login-box-msg">@Messages("login.description")</p>
                <form action="@controllers.routes.AuthController.login" method="post">
                    <label>@Messages("login.ip")</label>
                    <div class="row margin-bottom">
                        <div class="col-xs-8">
                            <div class="input-group has-feedback">
                                <div class="input-group-addon">
                                    <i class="fa fa-laptop"></i>
                                </div>
                                <input value="@FormUtils.value("ip")(userForm).getOrElse("127.0.0.1")" name="ip" type="text" data-mask="" data-inputmask="'alias': 'ip'" class="form-control">
                                <span class="input-group-addon">
                                    <i class="fa fa-check"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <input value="@FormUtils.value("port")(userForm).getOrElse("5000")" name="port" type="text" placeholder="5000" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="username" placeholder="@Messages("login.username")">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="password" placeholder="@Messages("login.password")">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 pull-right">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">@Messages("login.signIn")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="@routes.Assets.versioned("js/scripts.js")" type="text/javascript"></script>
        @notification.notification()
    </body>
</html>