@import views.html.platform.includes.{ includeHead, includeHeader, includeNavigation }

@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @includeHead("Welcome to Synology DLC")
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            @includeHeader()
            @includeNavigation()

            <div class="content-wrapper">
                <section class="content-header">
                    <h1>@title</h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                        <li class="active">Here</li>
                    </ol>
                </section>

                <section class="content">
                    @content
                </section>
            </div>

        </div>

        <script src="@routes.Assets.versioned("js/basic.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/extra.js")" type="text/javascript"></script>
    </body>
</html>
