@()(implicit context: RequestContext[Any])

@main(Messages("settings.title")) {

    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#settings" data-toggle="tab">Synology</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="settings">
                        @synologySettings()
                    </div>
                </div>
            </div>
        </div>
    </div>

}




