@import controllers.routes.HomeController
@import controllers.routes.SettingsController
@()

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="@HomeController.dashboard()">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="@HomeController.downloads()">
                    <i class="fa fa-download"></i><span>Downloads</span>
                </a>
            </li>
            <li>
                <a href="@SettingsController.settings()">
                    <i class="fa fa-gears"></i><span>Settings</span>
                </a>
            </li>
        </ul>

    </section>
</aside>